$spacings: (
  "xs": 4px,
  "sm": 6px,
  "md": 10px,
  "lg": 20px,
  "xl": 24px,
);

@each $name, $size in $spacings {
  .m-#{$name} {
    margin: $size;
  }
  .mt-#{$name} {
    margin-top: $size;
  }
  .mr-#{$name} {
    margin-right: $size;
  }
  .mb-#{$name} {
    margin-bottom: $size;
  }
  .ml-#{$name} {
    margin-left: $size;
  }

  .p-#{$name} {
    padding: $size;
  }
  .pt-#{$name} {
    padding-top: $size;
  }
  .pr-#{$name} {
    padding-right: $size;
  }
  .pb-#{$name} {
    padding-bottom: $size;
  }
  .pl-#{$name} {
    padding-left: $size;
  }
}

:root {
  @each $name, $size in $spacings {
    --spacing-#{$name}: #{$size};
  }
}
