.logo {
  display: flex;
  flex: none;
  align-items: flex-start;
  width: calc(14.7581rem * var(--logo-scale, 1));
  height: calc(3rem * var(--logo-scale, 1));
}

.light {
  color: #ffffff;
  opacity: var(--logo-opacity, 0.8);
}

.dark {
  color: #000000;
}

.mcm {
  flex: none;
  width: calc(8.4521rem * var(--logo-scale, 1));
  height: calc(3rem * var(--logo-scale, 1));
}

.ate {
  flex: none;
  width: calc(6.3433rem * var(--logo-scale, 1));
  height: calc(3rem * var(--logo-scale, 1));
}
