/* Layout Styling */

.app {
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  background-color: var(--theme-background);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.content {
  min-height: 100vh;
  padding-top: 40px;
  background: #ffffff;
}
