.profileHotspot {
  position: absolute;
  top: 40px;
  left: 319px;
  z-index: 5;
  display: block;
  width: 57px;
  height: 57px;
  padding: 0;
  border: 0;
  background: transparent;
  overflow: hidden;
  border-radius: 0;
  text-decoration: none;

  img {
    display: block;
    width: 57px;
    height: 57px;
  }
}
